@font-face {
    font-family: 'avengeanceregular';
    src: url('./fonts/avengeance-webfont.eot');
    src: url('./fonts/avengeance-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/avengeance-webfont.woff2') format('woff2'),
         url('./fonts/avengeance-webfont.woff') format('woff'),
         url('./fonts/avengeance-webfont.ttf') format('truetype'),
         url('./fonts/avengeance-webfont.svg#avengeanceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    height: 100%;
    font-family: 'avengeanceregular', Helvetica, Arial, sans-serif;
    background:url('the_avengers.jpg') no-repeat;
    background-size: cover;
}
a {
    text-decoration: none;
    font-family: 'avengeanceregular';
    font-size: 38px;
    }

h1 {
    font-family: 'avengeanceregular';
    color: #c0392b;
    font-size: 78px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    line-height: 60px;
    text-shadow: 2px 2px 2px #000;
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft; 
    -webkit-animation-duration: 3s; 
    animation-duration: 3s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
}

.matchesFound {
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
    -webkit-animation-duration: 3s; 
    animation-duration: 3s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in-out; 
    animation-timing-function: ease-in-out; 
} 

@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 


@-webkit-keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 


h2 {
    font-family: 'avengeanceregular';
    color: #f1c40f;
    font-size: 18px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;    
    text-shadow: 1px 1px 1px #000;
    -webkit-animation-name: fadeInRight; 
    animation-name: fadeInRight; 
    -webkit-animation-duration: 3s; 
    animation-duration: 3s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeInRight { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInRight { 
    0% { 
        opacity: 0; 
        transform: translateX(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 

.tile:hover {
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 



.results {
    padding-top: 20px;
}



#appFrame {
    margin: 0 auto;
    width: 360px;
    overflow: auto;

}

.header {
    text-align:center;
    margin-bottom:10px;
}


.matchesFound {
    font-family: 'avengeanceregular';
    font-size:28px;   
}

.results {
    clear:left;
    font-size:28px; 
    text-align:center;
    margin-top:10px;
}

.tileRow {
    clear:left;
}

/* The tile */
.tile {
    /* Keep touchable element above */
    z-index: 1;

    width:68px;
    height:68px;
    
    float:left;
    margin:2px;

    cursor: pointer;

    background-repeat: no-repeat;
    background-size:100% 100%;

    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;

}

.selected {
    background-color:#ff0;
}

.matched {
    opacity:0.5;
    border:2px solid #af0;
    -webkit-animation-name: matched; 
    animation-name: matched; 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
}

@-webkit-keyframes matched { 
    0% {-webkit-transform: scale(1);} 
    10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);} 
    30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);} 
    40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);} 
    100% {-webkit-transform: scale(1) rotate(0);} 
} 
@keyframes matched { 
    0% {transform: scale(1);} 
    10%, 20% {transform: scale(0.9) rotate(-3deg);} 
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);} 
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);} 
    100% {transform: scale(1) rotate(0);} 
} 



/* Define the look of each of the object types */

.objType1 { background-image:url("Ironman.png"); }
.objType2 { background-image:url("hulk.png"); }
.objType3 { background-image:url("captainAmerica.png"); }
.objType4 { background-image:url("blackWidow.png"); }
.objType5 { background-image:url("thor.png"); }